.account-label
{
	min-width: 70px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: #566b47;
	font-size: 18px;
	font-family: 'MidoMedium';
	text-align: center;
	background-color: #c7e8ad;
	border: 1px solid #91b177;
	border-top: 1px solid #daf8c3;
	border-left: 1px solid #daf8c3;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.account-info
{
	padding: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #707a4e;
	font-family: 'MidoMedium';
	background-color: #f2fad8;
	border: 1px solid #adc58f;
	border-bottom: 1px solid #eefade;	
}


.account-info2
{
	padding: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #707a4e;
	font-family: 'MidoMedium';
	background-color: #e5f1bd;
	border: 1px solid #adc58f;
	border-bottom: 1px solid #eefade;
	
}

.resource-title {
	width: 100%;
	border-bottom: 2px solid #d1c8a9;
}

a.resource-title {	
	color: #7d6d35;
	text-shadow: 1px 1px 0px #fdffe7;
	font-family: 'MidoMedium';
	font-size: 22px;
}

.resource-box {
	margin: auto;
	padding: 20px;
	border: 1px solid #a6b68d;
	border-bottom: 1px solid #e4f8d6;
	border-right: 1px solid #ffffff;
	background: url('../images/bg_resourcebox.png');
	-moz-box-shadow: inset 2px 2px 7px 0px rgba(58, 58, 58, 0.2);
	-webkit-box-shadow: inset 2px 2px 7px 0px rgba(58, 58, 58, 0.2);
	box-shadow: inset 0px 0px 3px 0px rgba(58, 58, 58, 0.2);
}

.resource-header {
	height: 25px;
	margin-bottom: 15px;
	padding-top: 5px;
	padding-left: 10px;
	color: #8b8152;
	font-size: 20px;
	font-family: 'MidoMedium';
	text-transform: uppercase;
	text-shadow: 1px 1px 0px rgba(238, 251, 228, 0.7);
	background: url('../images/icon/info.png') no-repeat;
	border-width: 13px;
	-o-border-image: url('../images/bg_resourceh3.png') 13 / 13px stretch;
	-moz-border-image: url('../images/bg_resourceh3.png') 13 / 13px stretch;
	
}

.resource-label
{
	min-width: 70px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: #566b47;
	font-size: 18px;
	font-family: 'MidoMedium';
	text-align: center;
	background-color: #c7e8ad;
	border: 1px solid #91b177;
	border-top: 1px solid #daf8c3;
	border-left: 1px solid #daf8c3;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.resource-info
{
	padding: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #707a4e;
	font-size: 15px;
	font-family: 'MidoMedium';
	background-color: #f2fad8;
	border: 1px solid #adc58f;
	border-bottom: 1px solid #eefade;	
}

.resource-info2
{
	padding: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #707a4e;
	font-size: 15px;
	font-family: 'MidoMedium';
	background-color: #e5f1bd;
	border: 1px solid #adc58f;
	border-bottom: 1px solid #eefade;
}

.resource-status
{
	float: right;
	margin-bottom: 10px;
	padding: 8px;
	color: #6a815a;
	font-size: 13px;
	font-family: 'MidoMedium';
	text-align: right;
	border-width: 11px;
	border-image: url('../images/bg_stamp.png') 11 / 11px round;
	-moz-border-image: url('../images/bg_stamp.png') 11 / 11px round;
	-o-border-image: url('../images/bg_stamp.png') 11 / 11px round;
	border: 1px solid #b1bfa9;
	border-bottom: 1px solid #e6f6da;
	border-right: 1px solid #deefd1;
	-moz-border-radius: 2px;
}

.resource-tool
{
	max-width: 200px;
	padding: 10px;
	position: relative;
	top: 20px;
	color: #809b6f;
	font-family: 'MidoMedium';
	text-align: center;
	border-top: 2px solid #f0ffe7;
	border-left: 2px solid #dceed2;
	border-bottom: 2px solid #c3d8b7;
	border-right: 2px solid #d4e2cc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	outline: 1px solid #afc69f;
	background-color: #e8f7df;
	-moz-box-shadow:2px 2px 7px 0px rgba(58, 58, 58, 0.4);
	-webkit-box-shadow:2px 2px 7px 0px rgba(58, 58, 58, 0.4);
	box-shadow: 0px 0px 3px 0px rgba(58, 58, 58, 0.4);
}

.keyword 
{
	float: left;
	margin: 2px;
	margin-right: 5px;
	padding: 3px;
	padding-left: 12px;
	padding-right: 12px;
	color: #ffffff;
	background-color: #bac9ed;
	border-radius: 10px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #95a8d0;
}

.no-data
{
	width: 80%;
	max-width: 200px;
	padding: 3px;
	color: #ffffff;
	text-align: center;
	font-family: 'AmaranthRegular';
	background-color: #edc298;
	border-radius: 5px;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #daab7e;
}

.no-info
{
	margin: 5%;
	padding: 10%;
	color: #a3b85f;
	text-align: center;
	font-family: 'AmaranthRegular';
	background-color: #e8fab0;
	border-radius: 5px;
	border-style: solid;
	border-width: 3px;
	border-color: #d7ec94;
}

div.tool
{
	height: 45px;
	margin: 10px;
	margin-top: 20px;
}

a.tool
{
	padding-top: 5px;
	color: #5fb37a;
	font-family: 'AmaranthRegular';
	font-size: 15px;
	background-repeat: no-repeat;
}

a.tool:hover
{
	color: #5fb37a;
	font-family: 'AmaranthRegular';
	font-size: 15px;
	text-decoration: underline;
}

div.share
{
	margin: 10px;
	margin-top: 20px;
	height: 30px;
	padding-left: 30px;	padding-top: 5px;
	
	background-image: url('../images/icon/share.png');
	background-repeat: no-repeat;
}

a.share
{
	color: #5fb37a;
	font-family: 'AmaranthRegular';
	font-size: 16px;
}

div.unshare
{
	margin: 10px;
	margin-top: 20px;
	height: 25px;
	padding-left: 30px;
	padding-top: 5px;
	background-image: url('../images/icon/unshare.png');
	background-repeat: no-repeat;
}

a.unshare
{
	color: #a8ad58;
	font-family: 'AmaranthRegular';
	font-size: 16px;
}

div.remove
{
	margin: 10px;
	margin-top: 20px;
	height: 25px;
	padding-left: 30px;
	padding-top: 5px;	
	background-image: url('../images/icon/remove.png');
	background-repeat: no-repeat;
}

a.remove
{
	color: #a7554b;
	font-family: 'AmaranthRegular';
	font-size: 16px;
}

.vis
{
	visibility: visible;
}

.hide
{
	visibility: hidden;
}
