#login
{
	max-width: 650px;
	margin: auto;
	padding: 15px;
	padding-bottom: 30px;
	padding-left: 30px;
	position: relative;
	top: 180px;
	z-index: 2;
}

#login-bg
{
	width: 100%;
	height: 100%;
	background-image: url('../images/bg_login.png');
}

#login-box
{
	margin: auto;
	padding: 20px;
	border: 1px solid #a6b68d;
	border-bottom: 1px solid #e4f8d6;
	border-right: 1px solid #ffffff;
	background-image: url('../images/bg_functionbox.png');
	-moz-box-shadow: inset 2px 2px 7px 0px rgba(58, 58, 58, 0.4);
	-webkit-box-shadow: inset 2px 2px 7px 0px rgba(58, 58, 58, 0.4);
	box-shadow: inset 0px 0px 3px 0px rgba(58, 58, 58, 0.4);
}

.check
{
	width: 200px;
	height: 40px;
	color: #5e6f42;
	font-size: 14px;
	text-align: right;
	
}

.login-buttons
{
	float: right;
	margin: 10px;
}

#check-all
{
	width: 100%;
	height: 30px;
	margin: auto;
	margin-bottom: 6px;
}

h1.login
{
	height: 45px;
	margin-left: 5px;
	padding: 5px;
	padding-left: 60px;
	color: #424e5f;
	font-size: 30px;
	font-family: 'MidoMedium';
	text-shadow: 1px 1px 0px #efffe4;
	background: url('../images/icon/ID.png') no-repeat;
}

h3.login
{
	width: 100%;
	height: 30px;
	padding: 5px;
	padding-bottom: 10px;
	margin-bottom: 3px;
	color: #5e6f42;
	font-size: 20px;
	font-family: 'MidoMedium';
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 1px 1px 0px #ffffff;
	border-bottom: 1px dotted;
}

label.login
{
	color: #5e6f42;
	font-size: 18px;
	font-family: 'MidoMedium';
}

label.login2
{
	margin-right: 10px;
	color: #5e6f42;
	font-size: 15px;
	font-family: 'MidoMedium';
}

input.logintext
{
	height: 20px;
	padding: 5px;
	font-family: 'InconsolataMedium';
	font-size: 16px;
	border: 1px solid #c3bc87;
	border-radius: 3px;
	-moz-border-radius: 3px; 
	-moz-box-shadow: inset 2px 2px 7px 0px rgba(58, 58, 58, 0.2);
	-webkit-box-shadow: inset 2px 2px 7px 0px rgba(58, 58, 58, 0.2);
	box-shadow: inset 1px 1px 2px 0px rgba(58, 58, 58, 0.2);
}

.select
{
	width: 100px;
	padding: 10px;
}

.select:hover
{
	width: 100px;
	background-color: #d6ecb2;
}
